.searchBar {
  display: initial;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 120px;
  background: #1A1617;
}

.searchBar:focus {
  opacity: none;
}

.logo {
  align-self: center;
}

.locationIcon {
  transition: 0.3s ease-out;
}

.locationIcon:hover {
  transform: scale(1.3) rotate(180deg);
}

.locationText {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 64px;
  border: none;
}

.inputContainer:focus {
  opacity: none;
}

.inputField {
  background-color: #313131;
  border-radius: 50px;
  width: 500px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5%;
}

.inputField:focus {
  opacity: none;
}

.searchIcon {
  position: relative;
  margin-left: -65px;
  transform: scale(0.8);
  transition: 0.3s ease-out;
}

.searchIcon:hover {
  transform: scale(0.95);
}

::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #cccbcb;
}

/* Dialog Styles */

.dialogContainer {
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.564) 100%);
  backdrop-filter: blur(50px);
  border-radius: 20px;
}

.dialogTitle {
  display: block;
  padding: 20px;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
}

.dialogList {
  width: 250px;
  font-family: 'Product Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.chevron {
  align-self: center;
  padding-left: 30px;
  color: #FFA900;
  border-radius: 1px;
}

/* Credits Styles */

.creditsContainer {
  backdrop-filter: blur(50px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.564) 100%);
  border-radius: 20px;
  align-items: center;
}

.creditsTitle {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.creditsInfo {
  letter-spacing: 0.5px;
  color: #E7E7E7;
}

/* -------------------------- */

@media only screen and (max-width: 600px) {
  .logo {
    transform: scale(0.7);
    padding-left: 5px;
  }

  .searchBar {
    height: 72px;
  }

  .inputContainer {
    padding-right: 15px;
    height: 48px;
  }

  .inputField {
    width: 228px;
    padding-left: 8%;
    font-size: 14px;
  }

  .searchIcon {
    margin-left: -50px;
    transform: scale(0.8);
  }

  ::placeholder {
    font-size: 14px;
  }

  .locationIcon {
    transition: none;
  }

  .locationIcon:hover {
    transform: scale(1.2);
  }

}

@media only screen and (max-width: 958px) {
  .locationIcon {
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 5px;
    transition: none;
    transform: scale(1.2);
  }

  .locationIcon:hover {
    transform: scale(1.2) rotate(0deg);
  }
}