.searchBar {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    background: #1A1617;
    opacity: 0.94;
  }
  
.logo {
  position: absolute;
  width: 207.34px;
  height: 50px;
  left: 253px;
  top: 35px;
  } 

 .locationIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 627px;
    top: 44px;
  }
  
  .locationText {
    position: absolute;
    width: 256px;
    height: 19px;
    left: 667px;
    top: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  .inputField {
    position: absolute;
    width: 554px;
    height: 64px;
    left: 1113px;
    top: 25px;
    background: #525B6D;
    border-radius: 40px;
    border: solid 0.5px;
    border-color: #1A1617;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 35px;
  }
  
  .searchButton {
    position: absolute;
    width: 63px;
    height: 63px;
    right: 254px;
    top: 25px;
    background: #FFA900;
    border: 2px solid #39383B;
    box-sizing: border-box;
    border-radius: 40px;
  }
  
  .btnContainer {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 253px;
    top: 30px;
    background: #FFA900;
    border: 2px solid #39383B;
    box-sizing: border-box;
    border-radius: 40px;
  }
  
  .searchIcon {
    width: 24px;
    height: 24px;
    left: 1623px;
    top: 50px;
  }

  ::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #cccbcb;
  }