/* .form-input {
  border-radius: 30px;
  border: solid 2px;
} */

body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Product Sans', sans-serif;
}

input:focus {
    outline: none;
}

.day {
  background: url('./assets/bg-images/bg_day.svg');
}

.sunset {
  background: url('./assets/bg-images/bg_sunset.svg');
}

.night {
  background: url('./assets/bg-images/bg_night.svg');
}

