/* .form-input {
  border-radius: 30px;
  border: solid 2px;
} */

body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Product Sans', sans-serif;
}

input:focus {
    outline: none;
}

.morning {
  background: url('./assets/bg-images/01-Morning-1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.day {
  background: url('./assets/bg-images/02-Day-1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sunset {
  background: url('./assets/bg-images/03-Sunset-1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.night {
  background: url('./assets/bg-images/04-Night-1080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grow {
    width: 1414px;
    height: 323px;
    left: 250px;
    top: 439px;    
    background: rgba(13, 34, 45, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 20px;
}

