/* .form-input {
  border-radius: 30px;
  border: solid 2px;
} */

body {
  background: url('./assets/bg-images/BuenosAires.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Product Sans', sans-serif;
}

input:focus {
    outline: none;
}